.home-page,
.home-section {
    flex-direction: column;
    display: flex;
}
.home-page {
    box-shadow: rgba(0, 0, 0.6, 0.4) 3px 2px 6px,
        rgba(0.5, 0, 0.3, 0.3) 2px 7px 15px -2px,
        rgba(0, 0.3, 0.6, 0.2) 0 -3px 0 inset;
    width: 97dvw;
    gap: 1%;
}
.home-section {
    align-items: center;
    justify-content: center;
    height: 760px;
    border: 2px solid #fff;
    overflow: hidden;
}
.home-section h1 {
    margin-top: 5%;
    font-size: 4rem;
    color: azure;
    text-shadow: rgba(0, 0.5, 0.5, 0.5) 2px 2px 4px;
}
.home-section h3 {
    font-size: 1.7rem;
}
.openings-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    gap: 2%;
}
.openings-section h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 2%;
    margin-top: 2%;
    color:#000;
    text-shadow: #000 0 2px 4px;
}
.opening-card {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 200px;
    background-color: #fff;
    box-shadow: rgba(0, 0.6, 0.6, 0.4) 0 2px 4px,
        rgba(0, 0, 0, 0.3) 0 7px 13px -6px, rgba(0, 0, 0.6, 0.2) 0 -3px 0 inset;
    border-radius: 10px;
}
.opening-card img {
    border-radius: 50%;
    background-color: #ffebcd;
    height: 87%;
    width: 18%;
    margin-left: 2%;
    border: 1px solid #000;
}
.openings-section span {
    color: #0073ff;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
.announcements-section {
    background-color: #0095ff;
    display: block;
}
#announce-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.announcement {
    display: flex;
    gap: 5%;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    margin-bottom: 2%;
}
.announcement p {
    font-size: 1.6rem;
}
.announcement img {
    height: 150px;
    width: 180px;
    background-color: azure;
    margin-top: 2%;
    object-fit: cover;
    object-position: center;
}
.announcements-section span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #022c50;
    padding-top: 20px;
}
.announcements-section span h2 {
    font-size: 1.6rem;
    font-weight: bolder;
}
.subscribe {
    width: 500px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 2%;
}
.subscribe button {
    background-color: #0d25ae;
    color: #fff;
    width: 400px;
    padding: 10px;
    font-size: 1.3rem;
    margin-top: 2%;
}
.line,
.subscribe input {
    background-color: #022c50;
}
.subscribe input {
    font-size: 1.4rem;
    width: 400px;
}
.line {
    height: 4px;
    width: 600px;
    margin: 0 10px;
}
.home-section {
    position: relative;
    text-align: center;
    padding: 100px 20px; /* Adjust as needed */
}

.scroll-arrow {
    background-color: white;
    position: absolute;
    bottom: 20px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}