
  .like-container input:checked ~ svg {
    fill: #2196F3;
  }
  .like-container {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .like-container  svg {
    height: 30px;
    width: 30px;
  }
  .comment-counter{
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .like-counter {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }
  .like-container svg:hover {
    transform: scale(1.2) rotate(-5deg);
  }
  .like-container input {
    display: none;
  }

  .comment-section {
    background-color: white;
    border: 1px solid #cbd5e1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    width: 80%;
    margin-top: 1%;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: none; */
}

.comment-title {
    text-align: center;
    color: #cbd5e1;
    font-size: 1.25rem;
    font-weight: bold;
    grid-column: span 6;
}

.feedback-textarea {
    grid-column: span 6;
}

.add-comment-button {
    fill: #475569;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s;
    background-color: #f1f5f9;
    border: 1px solid #e2e8f0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.add-comment-button:hover {
    border-color: #475569;
}

.add-comment-button:focus {
    fill: #60a5fa;
    background-color: #60a5fa;
}

.comment-span {
    grid-column: span 2;
}

.comment-button {
    fill: #475569;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s;
    background-color: #f1f5f9;
    border: 1px solid #e2e8f0;
}

.comment-button:hover {
    border-color: #475569;
}

.comment-button:focus {
    fill: #60a5fa;
    background-color: #60a5fa;
}

.comment-span {
    grid-column: span 2;
}
