button.navlink,
nav h1 {
    text-align: center;
}

* {
    transition: 0.5ms ease;
}
img{

    object-fit: cover;
    object-position: center;
}

.profilepic {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid lightblue;
    margin-right: 10px;
}

.profilepic img {
    width: 100%;
    height: 100%;
}

h1 {
    color: #1d167c;
    font-size: 35px;
    font-weight: bolder;
    margin-top: auto;
    font-family: "Jana Thork";
    white-space: nowrap;
}

.nav-link {
    margin-top: 0.2%;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s;
    height: 100%;
}
.username span{
    color: #ccc;
    font-size: 1rem;
}
.username{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    /* border: #000 1px solid; */
}

.nav-link:hover {
    color: #f5f5f5;
    background-color: #836fff;
}

.nav-link:active {
    opacity: 0.9;
    scale: 1.1;
    transition: 0.3s;
}

.hover-border {
    position: relative;
    transition: 0.2s;
}

.hover-border:hover {
  
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.91);
}

button.navlink {
    font-family: "Times New Roman", serif;
    height: 100%;
    width: 100%;
    width: fit-content;
}

.username {
    color: #000;
    font-size: 18px;
}
.relative {
    position: relative;
}

/* Arrow Styles */
.arrow {
    position: absolute;
    top: -12px; 
    left: 50%; /* Center the arrow */
    transform: translateX(-50%); /* Center the arrow horizontally */
    width: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-shadow: 0 14px 6px rgba(0, 0, 0.5, 0.1);
}

/* Dropdown Content Styles */
.dropdown-content {
    background: white;
    border-radius: 0.375rem; 
    box-shadow: 0 14px 6px rgba(0, 0, 0.5, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show Dropdown with Animation */
.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
}

/* Initially Hidden */
.dropdown-content {
    opacity: 0; 
    transform: translateY(-10px); /* Starts slightly above */
    display: block; /* Allow for hover effects */
}

@media (max-width: 640px) {
    .profilepic {
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
}
