@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframe animation for fade-in and scroll-up */
@keyframes fadeInUp {
    0% {
        opacity: 0; 
        transform: translateY(20px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}

/* Apply the animation to the appcontainer */
main {
    animation: fadeInUp 0.8s ease ; /* Apply animation */
}
main::-webkit-scrollbar{
    display: none;
}
